@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #10100E;
    color: #FFFFE3;
    transition: background-color 300ms ease, color 300ms ease;
}

:root[style*="color-scheme: light"] body {
    background-color: #FFFFF2;
    color: #1A1A14;
    --body-bg: #FFFFF2;
}

:root[style*="color-scheme: dark"] body {
    background-color: #10100E;
    color: #FFFFE3;
    --body-bg: #10100E;
}

@media (prefers-color-scheme: light) {
    :root:not([style*="color-scheme"]) body {
        background-color: #f0f0e4;
        color: #1a1a14;
    }
}

/* icons: https://lucide.dev/ */
