@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #10100E;
    color: #FFFFE3;
}

:root[style*="color-scheme: light"] body {
    background-color: #FFFFF2;
    color: #1A1A14;
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #f0f0e4;
        color: #1A1A14;
    }
}

:root[style*="color-scheme: dark"] body {
    background-color: #10100E;
    color: #FFFFE3;
}
